/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #024731;
  --matr-navbar-bg-rgb: 2, 71, 49;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-dark-rgb: var(--matr-navbar-bg-rgb);
  background: fixed center url("images/uhBg.png");
  background-size: cover;
}

body .navbar {
  --bs-navbar-color: white;
  --bs-navbar-brand-color: white;
  --bs-navbar-active-color: white;
  --bs-navbar-hover-color: white;
  --bs-navbar-brand-hover-color: white;
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-light);
  padding-top: 10px;
  padding-bottom: 20px;
}

.custom-button {
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
  margin: 0.5rem 0;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.profile-picture-container {
  position: relative;
}

.profile-picture-placeholder {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: grey;
}

.profile-picture {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.placeholder {
  width: 100%;
  height: 100%;
  background-color: #ccc;
}

.delete-button:hover {
  background-color: red;
}


.link {
  color: Green; /* Default link color */
  text-decoration: none; /* Remove underline */
}

.link:hover {
  color: Black; /* Color when link is hovered over */
}

.white-background {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

